@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --light-gray: #2e2e2e;
  --dark-gray: #1f1f1f;
  --light-purple: #814c82;
  --dark-purple: #5d3d5e;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--dark-gray);
}

nav {
  background-color: var(--light-gray);
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.header .logo {
  font-size: 3.2rem;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.header .logo span {
  color: var(--light-purple);
}

.header ul {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.header ul li {
  margin-left: 35px;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.header ul li:hover {
  color: var(--light-purple);
  transition: 0.2s;
}

.header button {
  margin-right: 20px;
}

.heading {
  font-size: 3.6rem;
  color: #fff;
  margin: 10px 0;
}
.sub-heading {
  text-align: left;
  font-size: 2.8rem;
  color: #fff;
  margin: 10px 20px;
  padding: 0 10px;
}
.btn {
  padding: 6px 20px;
  border-radius: 9px;
  border: none;
  background: var(--light-purple);
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 5px 0;
}

.btn:hover {
  transform: scale(0.95);
  transition: 0.1s;
  background-color: var(--dark-purple);
}

.btn-outline {
  padding: 6px 20px;
  border-radius: 9px;
  border: 2px solid var(--light-purple);
  background: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 5px 0;
}

.btn-outline:hover {
  transform: scale(0.95);
  transition: 0.1s;
  border: 2px solid var(--light-purple);
  background-color: var(--light-purple);
}

.btn-close {
  background: none;
  border: none;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.btn-close:hover {
  transform: scale(0.98);
}

.btn-icon {
  position: relative;
  top: 3px;
  right: 5px;
}

.cog-icon {
  margin-top: 5px;
  color: white;
  margin-right: 30px;
}

.cog-icon:hover {
  color: var(--light-purple);
  cursor: pointer;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.text {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 20px;
}

.attention-text {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}

.hidden {
  display: none;
}

.character {
  display: flex;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: gray;
  margin: 0 10px;
  cursor: pointer;
}

.name {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.arrow-icon {
  position: relative;
  top: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.name:hover {
  color: var(--light-purple);
  transition: 0.2s;
}

.profile {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
}

.portrait > img {
  display: block;
  margin-right: 20px;
  border-radius: 25px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  margin: 5px 0;
}

.card-title {
  font-size: 1.8rem;
  color: var(--light-purple);
}

.card-text {
  margin: 5px 0;
}

.hero {
  background-image: linear-gradient(rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.9)), url("./images/ginironic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-content {
  border-radius: 15px;
  background-color: rgba(31, 31, 31, 0.9);
  margin: 45px 0px 150px 0px;
  padding: 15px 0px;
  width: 600px;
  max-width: 80%;
}

.hero-content .btn-outline {
  margin: 20px 0;
}

.carousel {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 300px;
}

.carousel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.form-control {
  width: 600px;
  max-width: 90%;
}

.icon {
  position: relative;
  right: 180px;
  top: 58px;
  color: white;
}

.form-group {
  margin: 25px 0;
}

.form-input {
  width: 100%;
  min-width: 245px;
  padding: 10px 35px;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 10px;
}

.form-group input:hover {
  border: 2px solid gray;
  transition: 0.3s;
}

.form-text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 10px;
  color: white;
  display: block;
}

.required {
  font-size: 1.6rem;
  color: rgb(163, 5, 5);
}

@media screen and (max-width: 768px) {
  .sub-heading {
    text-align: center;
  }
}
